<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and jQuery -->
    <link rel="stylesheet" href="static/css/custom.css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
    <script>
      $(function(){
        $("#datadict").tablesorter({widgets: ['zebra']});
        $("table").tablesorter();
      });
    </script>
    <script>
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("datadict");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
  </head>
  <body>
    <header>
    {% block headercontent %}<h2>Data Dictionary:</h2>{% endblock %}
    </header>
    {% block content %}
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for fields...">
    {% endblock %}
    <div class="table-responsive">
      <table class="table" id="datadict" class="tablesorter">
        <thead>
        <tr>
          <th>Name</th>
          <th>Label</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
          {% for data_field in datadict %}
          <tr><td>{{ data_field.name }}</td><td>{{ data_field.label }}</td><td>{{ data_field.description }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <footer>{% block footercontent %}{% endblock %}</footer>
  </body>
</html>
